  <div style="text-align: center;">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JKTMPB5SH6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }

      gtag('js', new Date());

      gtag('config', 'G-JKTMPB5SH6');
    </script>
    <div style="margin: 80px 2% 150px 2%;">
    <form
      [formGroup]="validateForm"
      class="login-form">
      <h2>{{CheckLocation[languageService.language]}}</h2>
      <br /><br />
      <button mat-raised-button type="button" (click)="getManualLocation()">
        <div *ngIf="isSpinningLocation">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        {{GetDeviceText[languageService.language]}}</button
      ><br /><br />
      <div class="ant-advanced-search-form-int" [hidden]="addressShow">
        <mat-form-field class="example-full-width">
          <mat-label>{{CountryText[languageService.language]}}</mat-label>
          <mat-icon matPrefix>location_on</mat-icon>
          <input
            matInput
            type="text"
            formControlName="country"
            [placeholder]="CountryText[languageService.language]"
            [matAutocomplete]="autoCountry"
            (ngModelChange)="changed('country')"
          />
          <div *ngIf="isSpinningCountry">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>
          <mat-autocomplete #autoCountry="matAutocomplete">
            <mat-option
              *ngFor="let country of countries"
              [value]="country.name"
            >
              {{ country.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>{{CityText[languageService.language]}}</mat-label>
          <mat-icon matPrefix>location_on</mat-icon>
          <input
            matInput
            type="text"
            formControlName="city"
            [placeholder]="CityText[languageService.language]"
            (ngModelChange)="changed('city')"
          />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>{{StreetText[languageService.language]}}</mat-label>
          <mat-icon matPrefix>location_on</mat-icon>
          <input
            matInput
            type="text"
            formControlName="address"
            [matAutocomplete]="autoAddress"
            [placeholder]="StreetText[languageService.language]"
            (ngModelChange)="changed('address')"
            (keydown.enter)="setFirstAddress()"
            (keyup.enter)="setPlaceStringID()"
          />
        </mat-form-field>
        <mat-autocomplete #autoAddress="matAutocomplete">
          <mat-option
            *ngFor="let address of addresses"
            [value]="address.display_name"
            (click)="setPlaceID(address.place_id)"
          >
            {{ address.display_name }}
          </mat-option>
        </mat-autocomplete>
      </div>
      <a (click)="addressShow = !addressShow">
        {{ addressShow ? MoreText[languageService.language] : LessText[languageService.language] }} {{OptionsText[languageService.language]}}
        <mat-icon matPrefix style="position: absolute;">{{
          addressShow ? "keyboard_arrow_down" : "keyboard_arrow_up"
        }}</mat-icon> </a
      ><br /><br />
      <mat-progress-bar
        mode="indeterminate"
        *ngIf="isSpinningLocation"
      ></mat-progress-bar>
      <div id="map" class="map" style="height: 80vh !important ;max-height: 400px !important;"></div>
      <br /><br />
      <button mat-raised-button [disabled]="!validateForm.valid" (click)="submitForm()" type="button">
        <div *ngIf="isSpinningSave">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        {{SetLocationText[languageService.language]}}
      </button>
    </form>
  </div>
</div>
