<table style="width:100%; height:100%">
  <tr>
    <td class="colRight colRightDiv">
      <div style="padding: 40px; text-align: center; color:white;">
        <span style="font-size: 30px;">{{WellcomeToConfluxText[languageService.language]}}</span><br><br>
        <span style="font-size: 15px;">{{JoinConfluxText[languageService.language]}}</span>
      </div>
    </td>
    <td class="colLeft">
      <div class="wrap">
        <div style="position: absolute; top:20px; right: 20px;">
          <select [(ngModel)]="languageService.language" class="selectIdiom">
            <option class="buttonHeader2" value="en" selected>English</option>
            <option class="buttonHeader2" value="es">Español</option>
            <option class="buttonHeader2" value="fr">Français</option>
          </select>
        </div>
      </div>
      <div style="text-align: center;">
        <form class="example-form" [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <h2>{{RecoverPasswordText[languageService.language]}}</h2>
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <!-- <mat-icon matPrefix>alternate_email</mat-icon> -->
            <input matInput type="email" formControlName="email" placeholder="Email" />
          </mat-form-field>
          <br>
          <button mat-raised-button [disabled]="!validateForm.valid">
            <div *ngIf="isSpinning">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
            {{RecoverText[languageService.language]}}
          </button>
        </form>
      </div>
    </td>
  </tr>
</table>