<div style="margin: 60px 2% 150px 2%;">
  <h1>{{ MyTurns[languageService.language] }}</h1>
  <span>{{ SearchText[languageService.language] }}</span>
  <input
    style="background-image: url(assets/icons/search.svg);"
    type="text"
    class="inputSearch"
    placeholder="Search"
    [(ngModel)] = "searchText"
    (ngModelChange)="changed()"
  />
  <br />
  <button class="button-continue" *ngIf="!showAll" (click)="showAllShifts()">{{showAllText[languageService.language]}}</button>
  <button class="button-continue" *ngIf="showAll" (click)="showLessShifts()">{{showLessText[languageService.language]}}</button>
  <br>
  <mat-progress-bar mode="indeterminate" *ngIf="isSpinning"></mat-progress-bar>
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8"
    style="box-shadow: none;"
  >
    <ng-container matColumnDef="place">
      <th mat-header-cell *matHeaderCellDef>{{ PlaceText[languageService.language] }}</th>
      <td mat-cell *matCellDef="let element" [ngStyle]="element?.shift_passed && {'color': 'grey'}">
        {{ element.establishment.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>{{ DateText[languageService.language] }}</th>
      <td mat-cell *matCellDef="let element" [ngStyle]="element?.shift_passed && {'color': 'grey'}">
        {{ checkDate(element.shift_date) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="hour">
      <th mat-header-cell *matHeaderCellDef>{{ HourText[languageService.language] }}</th>
      <td mat-cell *matCellDef="let element" [ngStyle]="element?.shift_passed && {'color': 'grey'}">
        {{ checkHour(element.shift_date) }} ({{element.establishment.slot_size}} min)
      </td>
    </ng-container>

    <ng-container matColumnDef="manual">
      <th mat-header-cell *matHeaderCellDef>{{ ManualText[languageService.language] }}</th>
      <td mat-cell *matCellDef="let element">
        <button class="buttonCheckIn" [ngStyle]="element?.shift_checked && {'color': 'green'}" (click)="checkManual(element.shift_code)" title="Avalaible when shift is in course to manual Check in" [disabled]="disableManual(element) || (element?.shift_passed || false) || (element?.shift_checked || false)">
          <mat-icon *ngIf="element?.shift_checked">check_circle_outline</mat-icon>
          Check in
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>{{ MenuText[languageService.language] }}</th>
      <td mat-cell *matCellDef="let element">
        <!-- <a style="color: orange;" (click)="editTurn(element._id)">Edit</a> -->
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" *ngIf="!(element?.shift_passed || element?.shift_checked)">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <div style="padding:10px;"><mat-label>{{ CodeText[languageService.language] }}: </mat-label><span style="margin: 0 5px;">{{ element.shift_code }}</span></div>
          <button mat-menu-item (click)="editTurn(element._id)">
            <mat-icon>edit</mat-icon>
            <span>{{ EditText[languageService.language] }}</span>
          </button>
          <button mat-menu-item (click)="openDialogDeleteShift(element._id)">
            <mat-icon>delete</mat-icon>
            <span>{{DeleteText[languageService.language]}}</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <div class="container-paginator" *ngIf="dataSet && dataSet.length > 10">
    <mat-paginator
      hidePageSize
      [pageSize]="pageSize"
      [length]="total"
      (page)="onChangePage($event)"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
<div *ngIf="showEditDiv" class="centrar" style="z-index: 10;">
  <div class="box-shift">
    <h2>{{ EditBoxText[languageService.language] }}</h2>
    <span>{{OpenText[languageService.language]}}: {{checkDays(store?.opening_hours.day)}}</span><br><br>
    <form [formGroup]="validateForm" (ngSubmit)="SubmitForm()">
      <mat-form-field>
        <mat-label>{{DateText[languageService.language]}}</mat-label>
        <input
          matInput
          type="date"
          formControlName="dateTurn"
          (ngModelChange)="checkShifts($event)"
          [min]="minDate" [max]="maxDate"
        />
      </mat-form-field>
      <div style="color: red; font-size:12px;" *ngIf="validateForm.controls.dateTurn.errors?.incorrect">{{DatePreviousText[languageService.language]}}</div>
      <div style="color: red; font-size:12px;" *ngIf="validateForm.controls.dateTurn.errors?.maxAllowed">{{DateFutureErrText[languageService.language]}}</div>
      <div style="color: red; font-size:12px;" *ngIf="validateForm.controls.dateTurn.errors?.noShifts">{{NoShiftsErrText[languageService.language]}}</div>
      <br />
      <mat-form-field>
        <mat-label>{{ShiftText[languageService.language]}}</mat-label>
        <mat-select formControlName="shiftTurn">
          <mat-option
            *ngFor="let shift of shifts; let i; of: index"
            [value]="i"
          >
            {{ shift?.hours }}
          </mat-option>
        </mat-select>
        <div *ngIf="isSpinningStores">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>{{ ObservationsText[languageService.language] }}</mat-label>
        <textarea matInput formControlName="observationsTurn"></textarea>
      </mat-form-field>
      <br />
      <button type="button" class="button-cancel" (click)="cancel()">
        {{ CancelText[languageService.language] }}
      </button>
      <button
        type="submit"
        class="button-continue"
        [disabled]="!validateForm.valid"
      >
      {{ ConfirmText[languageService.language] }}
      </button>
    </form>
  </div>
</div>
