table {
  width: 100%;
}

.mat-table th {
  padding-left: 0 !important;
}

.box-shift {
  position: relative;
  border-radius: 30px;
  box-shadow: 7px -1px 20px -6px rgba(148, 130, 148, 1);
  width: 30%;
  min-width: 300px;
  padding-bottom: 20px;
  background-color: white;
  margin: auto;
}

.buttonCheckIn {
  color: white; 
  background-color:orange;
  border: 1px solid orange;
  border-radius: 5px;
}

.buttonCheckIn:disabled {
  color: grey;
  background-color: transparent;
  border: none;
}