<div style="margin: 60px 2% 30px 2%;">
  <h1>{{ MyStoresText[languageService.language] }}</h1>
  <span>{{ SearchText[languageService.language] }}</span>
  <input
    style="background-image: url(assets/icons/search.svg);"
    type="text"
    class="inputSearch"
    placeholder="Search"
    [(ngModel)] = "searchText"
    (ngModelChange)="changed()"
  />
  <br />
  <mat-progress-bar
    mode="indeterminate"
    *ngIf="isSpinningStores"
  ></mat-progress-bar>

  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JKTMPB5SH6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-JKTMPB5SH6');
</script>

  <h2>{{ HelloText[languageService.language] }}, {{emailOwner}}</h2>
  <p class="main-establishments">{{ YouHaveText[languageService.language] }} {{total}} {{ StoresText[languageService.language] }}. </p>

  <div class="container-fluid">
    <div class="row" style="padding: 10px;">
      <div class="col-lg-5 container-establishment" *ngFor="let establishment of dataSource">
        <div class="establishment-details" (click)="reviewStore(establishment)" style="cursor: pointer;">
          <div class="details">
            <h3 class="name">{{ establishment.name }}</h3>
            <p class="address">{{ establishment.location.address }}</p>
            <p class="timetable">{{getHours(establishment) }} &#8226; {{ getDays(establishment) }}</p>
          </div>
          <div style="height: 130px;" class="category-icon">
            <span class="helper-center"></span>
            <img [src]="establishment.establishment_pics_url[1] || 'assets/icons/logo.png'" [ngStyle]="!establishment.isActive && {'filter': 'grayscale(100%)'}" />
          </div>
        </div>
        <div class="call-to-action-establishment">
          <button [disabled]="!establishment.isActive" mat-mini-fab color="basic" (click)="reviewStore(establishment._id)">
            <mat-icon>schedule</mat-icon>
          </button>
          <button [disabled]="!establishment.isActive" mat-raised-button color="accent" style="padding: 5px;" (click)="checkQR(establishment._id)">
            <!-- <img
            class="icon-menu"
            width="32"
            height="32"
            src="assets/icons/codigo.svg"
            style="padding: 0 8px 8px 8px; filter: brightness(0) invert(1); width: 100%; height: 100%;"
          /> -->
          {{DownloadText[languageService.language]}} QR
          </button>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="editStore(establishment._id)">
              <mat-icon>edit</mat-icon>
              <span>{{EditText[languageService.language]}}</span>
            </button>
            <button *ngIf="establishment.isActive" mat-menu-item (click)="openDialogDisableStore(establishment._id)">
              <mat-icon>label_off</mat-icon>
              <span>{{DisableText[languageService.language]}}</span>
            </button>
            <button *ngIf="!establishment.isActive" mat-menu-item (click)="openDialogEnableStore(establishment._id)">
              <mat-icon>label</mat-icon>
              <span>{{EnableText[languageService.language]}}</span>
            </button>
            <button mat-menu-item (click)="openDialogDeleteStore(establishment._id)">
              <mat-icon>delete</mat-icon>
              <span>{{DeleteText[languageService.language]}}</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
  <div class="container-paginator" *ngIf="dataSet && dataSet.length > 10">
    <!-- <div class="page-select">
        <div class="label">Go to page:</div>
        <mat-form-field style="width: 100px;">
            <mat-select [ngModel]="manualPage" (ngModelChange)="updateManualPage($event)">
                <ng-container *ngFor="let item of pages">
                    <mat-option [value]="item">{{item}}</mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
    </div> -->
    <mat-paginator
      [pageSize]="pageSize"
      hidePageSize
      [length]="total"
      (page)="onChangePage($event)"
      showFirstLastButtons
    ></mat-paginator>
  </div>
  <div style="text-align: center; margin: 10px;">
    <button mat-raised-button color="primary" (click)="newStore()">
      {{NewStoreText[languageService.language]}}
    </button>
  </div>
  </div>
