h1{
  font-size: 1.5em;
  font-weight: 700;
}

h2{
  font-size: 1.05em;
  font-weight: 600;
  text-align: left;
  line-height: 1;
}

p.main-establishments{
  font-size: .9em;
  font-weight: 400;
  text-align: left;
}

.container-establishment{
  position: relative;
  background-color: white;
  border: 1px solid rgba(50, 50, 50, 0.1);
  border-radius: 5px;
  box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.32);
  margin: 10px 5px;
  padding: 10px 20px;
  display: block;
}

.container-establishment .establishment-details{
  display: grid;
  grid-template-columns: 1fr 30%;
}
.establishment-details .details{
  justify-self: start;
}

.details h3,p{
  line-height: 1;
  color: gray;
  margin-bottom: .5rem;
}

.details h3{
  font-size: 1em;
  font-weight: 500;
}

.details p{
  font-size: .9em;
  font-weight: 300;
}

.establishment-details .category-icon img{
  justify-self: center;
  align-self: center;
}

.category-icon .helper-center {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.category-icon img{
  width: 60%;
  height: auto;
  vertical-align: middle;
}

.call-to-action-establishment{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
}

.edit-establishment,
.delete-establishment,
.shifts-establishment{
  background-color: #fff;
  border: none;
  font-size: 1em;
  margin-top: 15px;
  font-weight: 600;
}

.shifts-establishment{
  color: yellow;
}

.edit-establishment{
  color: blue;
}

.delete-establishment{
  color: red;
}

.mat-mini-fab:not([class*="mat-elevation-z"]) {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.3);
}

.qr-stablishment {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
  transform: translate3d(0,0,0);
  transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
  min-width: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  flex-shrink: 0;
}