.container-center-logo{
    display: block;
    margin: 20px auto;
}

.container-center-logo img{
    height: 100px;
    width: auto;
}

h2{
    text-align: center;
    font-size: small;
    color: #989798;
}

form mat-icon{
    font-size: .9em;
    font-weight: 300;
    color: #989798;
    margin: 0 5px;
}
form mat-label{
    font-size: .9em;
    font-weight: 300;
    color: #989798;
}

.container-forgot-password{
    position: relative;
    display: grid;
    width: 80%;
    grid-template-areas: ". forgot";
}

.container-forgot-password a{
    grid-area: forgot;
    text-align: right;
    font-size: .9em;
}


.container-remember,
.container-social-media,
.container-validate-form .container-go-to-register{
    position: relative;
    display: block;
}

.container-remember mat-checkbox{
    font-size: .9em;
    font-weight: 300;
}

.container-social-media p {
    font-size: .9em;
    font-weight: 300;
    color: #989798;
    line-height: 1;
}

.container-social-media .mat-raised-button{
    box-shadow: none;
}

.container-validate-form{
    position: relative;
    display: block;
    margin: auto;
    width: 80%;
}

.container-validate-form button.validate-signin{
    width: 100%;
    height: auto;
    border: 2px solid gray;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    font-weight: 500;
    font-size: 1em;
    text-transform: uppercase;
    position: relative;
    margin: 10px 0;
}

.container-validate-form button.validate-signin[disabled="false"] {
    border: 2px solid blue;
}

.container-validate-form .container-go-to-register p{
    text-align: center;
    font-size: .9em;
    color: #989798;
    line-height: 1;
    margin-bottom: 0;
}

.container-validate-form .container-go-to-register a{
    color: black;
    font-weight: 600;
    font-size: .9em;
}


@media screen and (min-width: 970px){
    .container-forgot-password{
        width: 30%;
        margin: auto;
        grid-template-areas: none;
    }
    .container-forgot-password a{
        text-align: center;
    }
    .container-validate-form{
        width: 300px;
    }
}
