  .example-section {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: #f2f2f2;
  }

#fileLogo {
  position: absolute;
  z-index: -1;
  top: 10px;
  left: 8px;
  font-size: 9px;
  padding: 0;
  color: transparent;
}

.containerButtonFile {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 180px;
  margin: auto;
  padding-top: 10px;
}

.button-wrapFile {
  position: relative;
}

.buttonUpload {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  background-color: white;
  font-size: 14px;
  font-weight: bold;
  color: black;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.75);
}

.divImage {
  max-width: 400px;
  width: 100%;
  margin: auto;
}

#imageFile {
  max-width: 400px;
  width: 100%;
  margin: auto;
}

.editTitle {
  font-weight: bold;
  margin: 30px 0;
}