<div style="margin: 60px 2% 30px 2%">
  <h2 style="margin-left: 3%;">
    <a (click)="returnManager()"><img src="assets/icons/back.png" style="width: 20px; height: auto; margin-right: 10px;"/></a>
    {{ EditStoreText[languageService.language] }}: {{ storeName }}
  </h2>
  <div style="margin: 60px 2% 30px 3%"></div>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-JKTMPB5SH6"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-JKTMPB5SH6');
  </script>
</div>
<br><br>
<div style="text-align: center;">
  <mat-progress-bar mode="indeterminate" *ngIf="isSpinningLoad"></mat-progress-bar>
  <form
    [formGroup]="validateForm"
    style="margin: 0 auto; position: relative; text-align: center;"
  >
  <h2>{{ RegisterStoreText[languageService.language] }}</h2>
  <br><br>
  <div style="width: 90%; max-width: 400px; text-align: center; margin: auto;">
    <mat-form-field class="example-full-width">
      <mat-label>{{ NameText[languageService.language] }}</mat-label>
      <mat-icon matPrefix>store</mat-icon>
      <input matInput type="text" formControlName="name" placeholder="Store name" />
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>{{ PhoneText[languageService.language] }}</mat-label>
      <mat-icon matPrefix>phone</mat-icon>
      <input matInput type="text" formControlName="phone" placeholder="Phone" />
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>{{ ShownAddressText[languageService.language] }}</mat-label>
      <mat-icon matPrefix>title</mat-icon>
      <input matInput type="text" formControlName="addressText" placeholder="Address text" />
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label for="store">{{ ChooseCategoryText[languageService.language] }}</mat-label>
      <mat-select id="store" formControlName="storeCategory" aria-placeholder="Category">
        <mat-option *ngFor="let category of categories" [value]="category['en']">
          {{category[languageService.language]}}
        </mat-option>
      </mat-select>
      <div *ngIf="isSpinningCategories">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label for="description">{{ DescriptionText[languageService.language] }}</mat-label>
      <textarea  matInput type="text" formControlName="description" placeholder="Description"></textarea>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>{{ MaxAffluenceText[languageService.language] }}</mat-label>
      <mat-icon matPrefix>accessibility</mat-icon>
      <input matInput type="number" formControlName="people" placeholder="Max people" />
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>{{ ServiceTimeText[languageService.language] }}</mat-label>
      <mat-select formControlName="slot_time" aria-placeholder="Choose">
        <mat-option *ngFor="let slot of slots" [value]="slot.number">
          {{slot.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-label class="editTitle">{{ WorkingDaysText[languageService.language] }}</mat-label><br>
    <section class="ant-advanced-search-form-int">
      <mat-checkbox formControlName="daySunday">{{ DaysText[0][languageService.language] }}</mat-checkbox><br>
      <mat-checkbox formControlName="dayMonday">{{ DaysText[1][languageService.language] }}</mat-checkbox><br>
      <mat-checkbox formControlName="dayTuesday">{{ DaysText[2][languageService.language] }}</mat-checkbox><br>
      <mat-checkbox formControlName="dayWendsday">{{ DaysText[3][languageService.language] }}</mat-checkbox><br>
      <mat-checkbox formControlName="dayThursday">{{ DaysText[4][languageService.language] }}</mat-checkbox><br>
      <mat-checkbox formControlName="dayFriday">{{ DaysText[5][languageService.language] }}</mat-checkbox><br>
      <mat-checkbox formControlName="daySaturday">{{ DaysText[6][languageService.language] }}</mat-checkbox><br>
    </section>
    <mat-form-field class="example-full-width">
      <mat-label>{{ StartHourText[languageService.language] }}</mat-label>
      <mat-icon matPrefix>alarm_on</mat-icon>
      <mat-select formControlName="start_hour" aria-placeholder="Start hour" (ngModelChange)="resetHour()">
        <mat-option *ngFor="let hour of hours" [value]="hour.number">
          {{hour.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>{{ EndHourText[languageService.language] }}</mat-label>
      <mat-icon matPrefix>alarm_off</mat-icon>
      <mat-select formControlName="end_hour" aria-placeholder="End hour">
        <mat-option *ngFor="let hour of hours" [value]="hour.number" [hidden]="greaterThan(hour.number,validateForm.controls.start_hour.value)">
          {{hour.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-label class="editTitle">{{ featuresText[languageService.language] }}</mat-label><br>
    <section class="ant-advanced-search-form-int">
      <mat-slide-toggle
          color="accent"
          formControlName="enableShifting"
          >
          {{ allowShiftsText[languageService.language] }}
      </mat-slide-toggle>
    </section>
    <mat-label class="editTitle">{{PleaseCheckText[languageService.language]}}</mat-label><br><br>
    <button mat-raised-button type="button" (click)="getManualLocation()">
      <div *ngIf="isSpinningMap">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
      {{GetDeviceText[languageService.language]}}</button
    ><br /><br />
    <div class="ant-advanced-search-form-int" [hidden]="addressShow">
        <mat-form-field class="example-full-width">
          <mat-label>{{CountryText[languageService.language]}}</mat-label>
          <mat-icon matPrefix>location_on</mat-icon>
          <input
            matInput
            type="text"
            formControlName="country"
            [placeholder]="CountryText[languageService.language]"
            [matAutocomplete]="autoCountry"
            (ngModelChange)="changed('country')"
          />
          <div *ngIf="isSpinningCountry">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>
          <mat-autocomplete #autoCountry="matAutocomplete">
            <mat-option
              *ngFor="let country of countries"
              [value]="country.name"
            >
              {{ country.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>{{CityText[languageService.language]}}</mat-label>
          <mat-icon matPrefix>location_on</mat-icon>
          <input
            matInput
            type="text"
            formControlName="city"
            [placeholder]="CityText[languageService.language]"
            (ngModelChange)="changed('city')"
          />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>{{StreetText[languageService.language]}}</mat-label>
          <mat-icon matPrefix>location_on</mat-icon>
          <input
            matInput
            type="text"
            formControlName="address"
            [matAutocomplete]="autoAddress"
            [placeholder]="StreetText[languageService.language]"
            (ngModelChange)="changed('address')"
            (keydown.enter)="setFirstAddress()"
            (keyup.enter)="setPlaceStringID()"
          />
        </mat-form-field>
        <mat-autocomplete #autoAddress="matAutocomplete">
          <mat-option
            *ngFor="let address of addresses"
            [value]="address.display_name"
            (click)="setPlaceID(address.place_id)"
          >
            {{ address.display_name }}
          </mat-option>
        </mat-autocomplete>
      </div>
      <a (click)="addressShow = !addressShow">
        {{ addressShow ? MoreText[languageService.language] : LessText[languageService.language] }} {{OptionsText[languageService.language]}}
        <mat-icon matPrefix style="position: absolute;">{{
          addressShow ? "keyboard_arrow_down" : "keyboard_arrow_up"
        }}</mat-icon> </a
      ><br /><br />
    <mat-progress-bar mode="indeterminate" *ngIf="isSpinningMap"></mat-progress-bar>
    </div>
    <div id="map" class="map" style="width: 80%; margin: auto;"></div>
    <br><br>
    <div class="divImage">
      <mat-label>
        {{ selectFileText[languageService.language] }}
      </mat-label>
      <div class="containerButtonFile">
        <div class="button-wrapFile">
          <label class="buttonUpload" for="fileLogo">{{ uploadText[languageService.language] }}</label>
          <input class="file-input" type="file" formControlName="fileLogo" id="fileLogo" (change)="fileChanged($event)">
        </div>
      </div>
      <img id="imageFile" [src]="srcImageFile"/>
      <br><br>
      <mat-progress-bar mode="determinate" *ngIf="isSpinningSave" [value]="porcentaje"></mat-progress-bar>
    </div>
    <br><br>
    <button  mat-raised-button color="primary" (click)="submitForm()" [disabled]="!validateForm.valid" type="button">
      <div *ngIf="isSpinningSave">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
      {{ SaveText[languageService.language] }}
    </button>
  </form>
  <br>
  <br>
</div>
