<h2 mat-dialog-title>{{data.title}}</h2>

<mat-dialog-content>

<p> {{data.data}} </p>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button (click)="onNoClick()">{{data.noText}}
    </button>
    <button mat-button [mat-dialog-close]="yes" cdkFocusInitial>{{data.yesText}}</button>
</mat-dialog-actions>