<div style="margin: 80px 2% 30px 2%;">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JKTMPB5SH6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-JKTMPB5SH6');
</script>
  <h2>
    <a (click)="returnManager()"
      ><img
        src="assets/icons/back.png"
        style="width: 20px; height: auto; margin-right: 10px;"
    /></a>
    {{ StoreText[languageService.language] }}: {{ storeName }}
  </h2>
  <div style="margin: 30px 2% 30px 2%;">
    <h1>{{ ShiftsText[languageService.language] }}</h1>
    <span>{{ SearchShiftsText[languageService.language] }}</span>
    <input
      style="background-image: url(assets/icons/search.svg);"
      type="text"
      class="inputSearch"
      placeholder="Search"
      [(ngModel)] = "searchText"
      (ngModelChange)="changed()"
    />
    <br />
    <mat-progress-bar
      mode="indeterminate"
      *ngIf="isSpinningShifts"
    ></mat-progress-bar>
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8"
      style="box-shadow: none;"
    >
      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef>{{ CodeText[languageService.language] }}</th>
        <!-- <td mat-cell *matCellDef="let element"> {{element.user_name}} </td> -->
        <td mat-cell *matCellDef="let element">{{ element.shift_code }}</td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> {{DateText[languageService.language]}} </th>
        <td mat-cell *matCellDef="let element"> {{checkDate(element.shift_date)}} </td>
      </ng-container>

      <ng-container matColumnDef="hour">
        <th mat-header-cell *matHeaderCellDef> {{ HourText[languageService.language] }} </th>
        <td mat-cell *matCellDef="let element"> {{checkHour(element.shift_date)}} </td>
      </ng-container>
      
      <ng-container matColumnDef="comments">
        <th mat-header-cell *matHeaderCellDef>{{ ObservationsText[languageService.language] }}</th>
        <td mat-cell *matCellDef="let element">{{ element.comments }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <div class="container-paginator" *ngIf="dataSet && dataSet.length > 10">
    <!-- <div class="page-select">
      <div class="label">Go to page:</div>
      <mat-form-field style="width: 100px;">
        <mat-select
          [ngModel]="manualPage"
          (ngModelChange)="updateManualPage($event)"
        >
          <ng-container *ngFor="let item of pages">
            <mat-option [value]="item">{{ item }}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div> -->
    <mat-paginator
      hidePageSize
      [length]="total"
      [pageSize]="pageSize"
      (page)="onChangePage($event)"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
