<div style="margin: 60px 2% 150px 2%">
  <div style="text-align: center;">
    <form class="example-form" [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <h2>{{ChangePassword[languageService.language]}}</h2>
    <br><br>
      <mat-form-field class="example-full-width">
        <mat-label>{{NewPassword[languageService.language]}}</mat-label>
        <mat-icon matPrefix>vpn_key</mat-icon>
        <input matInput type="password" formControlName="password" placeholder="New Password" />
        <mat-error *ngIf="!validateForm.controls.password.valid">{{validateForm.controls.password.errors?.invalidOption?.message || 'Minimo 8 caracteres'}}</mat-error>
      </mat-form-field>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-JKTMPB5SH6"></script>
      <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
          dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-JKTMPB5SH6');
      </script>
      <br>
      <mat-form-field class="example-full-width">
        <mat-label>{{ConfirmPassword[languageService.language]}}</mat-label>
        <mat-icon matPrefix>vpn_key</mat-icon>
        <input matInput type="password" formControlName="password2" placeholder="Confirm Password" />
      </mat-form-field>
      <br>
      <button mat-raised-button [disabled]="!validateForm.valid">
        <div *ngIf="isSpinningSave">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        {{ChangeText[languageService.language]}}
      </button>
    </form>
  </div>
</div>
