h1{
  margin: 70px 5px 10px;
  font-size: 1.3em;
  font-weight: 600;
}

.box-home {
    padding: 10%;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .box-user-home img {
    filter: brightness(0) invert(1);
    height: 75%;
    width: 50%;
    margin: auto;
    display: block; 
  }

  .box-user-home {
      padding: 5%;
      background-color: #2077BB;
      color: white;
      text-align: center;
      height: 100%;
      width: 100%;
      border-radius: 10px;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }

  .box-user-home:hover{
    background-color: #0564af;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  .imgCardhome {
      width: 100%;
      margin: auto;
      height: auto;
  }

  .divImgCardHome {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }


  .divCardHome {
    text-align: left;
    display: inline-block;
    width: 60%;
    margin-left: 5%;
  }

  .divCardHome p {
    display: block;
    margin-bottom: 0;
  }

  .link-little {
    color:#1972B9;
    font-size: 14px;
  }

  .link-order img {
    height: 12px;
    width: 15px;
  }

#radiusSelect {
  width: 150px;
}
.categories{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 20px 0;
  position: relative;
}


@media screen and (max-width: 700px){
  .categories{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .box-user-home img {
    height: 50px;
    width: auto;
  }

  .box-user-home {
      padding: 5%;
      height: 100%;
      width: 100px;
  }

  .box-home{
    padding: 0;
    width: 100px;
    height: 100%;
    text-align: center;
  }

}
