<div style="margin: 60px 2% 30px 2%">
    <h1>{{WelcomeText[languageService.language]}}</h1>
    <span>{{SearchText[languageService.language]}}</span>
    <div class="container-searchbar">
    <input style="background-image: url(assets/icons/search.svg)" type="text" class="inputSearchButton" [placeholder]="TiendaEjText[languageService.language]"  (keyup.enter)="searchPlace()" [(ngModel)]="searchText" />
    <button class="buttonSearch" (click)="searchPlace()"><span style="margin: auto;">{{ searchButtonText[languageService.language] }}</span></button><br>
    <!-- <a class="link-little" style="position: absolute; right:0;">Use my location</a> -->
    </div>
    <!-- <span>Choose distance</span><br>
    <mat-progress-bar mode="indeterminate" *ngIf="isSpinningParams"></mat-progress-bar>
    <mat-select id="radiusSelect" [(ngModel)]="radius" style="border-bottom: 1px solid #2077BB">
      <mat-option *ngFor="let radius of arrayRadius" [value]="radius">
        {{radius}}
      </mat-option>
    </mat-select> -->
  </div>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JKTMPB5SH6"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }

  gtag('js', new Date());

  gtag('config', 'G-JKTMPB5SH6');
</script>
<div style="margin: 40px 2% 150px 2%">
  <mat-progress-bar mode="indeterminate" *ngIf="isSpinning"></mat-progress-bar>
  <mat-progress-bar mode="indeterminate" *ngIf="isSpinningParams"></mat-progress-bar>
  <div *ngIf="!showResults">
    <span>{{CategoryText[languageService.language]}}</span>
    <div class="container categories">
      <div class="category" *ngFor="let category of categories">
        <div class="box-home">
          <a class="box-item" (click)="setShops(category[languageService.language])" >
            <div class="box-user-home">
              <img [src]="associateIcon(category['en'])" />
              <span>{{category[languageService.language]}}</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showResults">
    <div class="container">
      <div class="row" style="text-align: center;">
        <div class="col-md-8" style="width: 90%; position: relative; text-align: left;">
          <a (click)="backToCategories();"><img src="assets/icons/back.png" style="width: 20px; height: auto; margin-right: 10px;"/></a><span><b>{{numberResults}}</b> {{ResultsForText[languageService.language]}} {{parcialSearchText}}</span>
          <div style="position: relative; margin: 10px 0 10px 40px; display:inline-flex">
            <a class="link-order" style="position: relative; float:right;" (click)="orderByOccupation();"><span style="margin-right:5px;"><img src="assets/icons/order.svg" />{{LessOccupationText[languageService.language]}}</span></a>
            <a class="link-order" style="position: relative; float: right;" (click)="orderByLocation();"><span style="margin-right:5px;"><img src="assets/icons/order.svg" />{{NearMeText[languageService.language]}}</span></a>
          </div>
          <div style="margin: 20px auto; text-align: center;">
            <div *ngFor="let result of results" style="margin: 20px auto; max-width: 400px;">
              <mat-card style="padding: 0;">
                <a (click)="loadMap(result._id)">
                  <div style="width: 100%; height: 100%; padding: 16px; border-left: 2px solid #2077BB; border-right: 2px solid #2077BB;">
                  <div style="width: 10%; display: inline-block; position: relative; height: 100px;"><div class="divImgCardHome"><img style="filter: invert(81%) sepia(28%) saturate(14%) hue-rotate(41deg) brightness(93%) contrast(90%);" [src]="result?.image" class="imgCardhome" /></div></div>
                  <div class="divCardHome">
                    <p style="color: #C2C2C2;">{{result.name}}</p>
                    <p style="color: #C2C2C2;">{{result.location.stateCode}} &#8226; {{result.location.distance_to_origin | number:'1.0-2'}} {{result.location.units}} </p>
                    <p>{{checkDay(result.opening_hours.day)}} &#8226; {{checkHours(result.opening_hours)}}</p>
                  </div>
                  <div style="display: inline-flex; width: 20%; max-height: 60px;">
                    <img style="width: 100%;" [src]="result?.establishment_pics_url[1]">
                  </div>
                  <div style="position: absolute; right: 10px; top: 10px;">
                    <div [ngStyle]="{'background-color':getColorPercentage(result.percentage)}" style="padding: 6px; border-radius: 5px;">
                      <span [ngStyle]="{'color':getColorPercentageStar(result.percentage)}"><img src="assets/icons/population.svg" [ngStyle]="{'filter':getColorPercentageFilter(result.percentage)}" style="margin-right: 5px;"> {{result.percentage}} %</span>
                    </div>
                  </div>
                  </div>
                </a>
              </mat-card>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </div>
</div>

