<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JKTMPB5SH6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-JKTMPB5SH6');
</script><div style="margin: 60px 2% 150px 2%">
    <div>
      <h1>{{QrScan[languageService.language]}}</h1>
      <span>{{DescText[languageService.language]}}</span><br><br>
      <button class="button-continue" routerLink="/user/user-turns">{{ManualCheck[languageService.language]}}</button>
    </div>
    <br>
    <div>
        <div *ngIf="showNotConfirmed">
          <div style="text-align:center; margin: 20px;">
            <img src="assets/icons/nocheck.svg" style="padding-right: 20px;"><span style="color:red; font-size:36px;">{{CheckError[languageService.language]}}: {{messageError}}</span><br><br>
          </div>
        </div>
        <div style="width:60%; margin:auto;">
        <div *ngIf="showCamera">
          <zxing-scanner (scanSuccess)="onCodeResult($event)" #scanner start="true" [device]="currentDevice"></zxing-scanner><br>
          <select (change)="onDeviceSelectChange($event.target.value)">
            <option *ngFor="let device of availableDevices" [value]="device.device.deviceId">
                {{ device.name }}
            </option>
          </select>
        </div>
        <div *ngIf="showConfirmed">
          <div style="text-align:center; margin: 20px;">
            <img src="assets/icons/check.svg" style="padding-right: 20px;"><span style="color:#39DA00; font-size:36px;">{{CheckConfirmed[languageService.language]}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
