<div class="wrap">
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JKTMPB5SH6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-JKTMPB5SH6');
</script>
  <div class="headerHome">
    <div style="display: inline-block;"
      ><a
        ><img
          class="imageLogoHome"
          src="assets/icons/logo.png"
          alt="logo" /></a
    ></div>
    <div style="float:right; display:inline-flex">
      <!-- <div class="buttonHeader" style="display: inline-flex; color:white"><a
        class="btn btn-success"
      >Try me</a></div> -->
      <button class="buttonHeader" (click)="ownerSection()">
        {{ buttons[0][languageService.language] }}
      </button>
      <button class="buttonHeader buttonHeaderDesktop" (click)="feturesSection()">{{ buttons[1][languageService.language] }}</button>
      <button class="buttonHeader buttonHeaderDesktop" (click)="ContactUs()">{{ buttons[2][languageService.language] }}</button>
      <div style="display: inline-block;">
        <select [(ngModel)]="languageService.language" class="selectIdiom">
          <option class="buttonHeader2" value="en" selected>English</option>
          <option class="buttonHeader2" value="es">Español</option>
          <option class="buttonHeader2" value="fr">Français</option>
        </select>
      </div>
      <!-- <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu" class="buttonHeaderMobile">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="feturesSection()">{{ buttons[1][languageService.language] }}</button>
        <button mat-menu-item (click)="ContactUs()">{{ buttons[2][languageService.language] }}</button>
      </mat-menu>       -->
    </div>
  </div>
</div>
<div class="inner-content"></div>
<!-- divApp -->
<div class="container-fluid idDivApp">
  <div class="row" style="width: 107%; z-index:2; background-color: white; position: relative;">
    <div class="col-md-7 centerDiv buttonsEntrance">
      <div class="leftBranch">
        <h1 style="font-weight: bold; color:#2077BB" class="titleMobile">
          {{ h1Headers[0][languageService.language] }}
        </h1>
        <h3 class="subTitle">
          CONFFLUX
        </h3>
        <h3 style="color: #adadad;" class="hideMobile">
          {{ h2Headers[0][languageService.language] }}
        </h3>
        <br class="hideMobile">
        {{ introText[languageService.language]}}
        <br>
        <div style="text-align: center;">
          <div class="container-searchbar">
            <input style="background-image: url(assets/icons/search.svg)" type="text" class="inputSearchButton" [placeholder]="TiendaEjText[languageService.language]"  (keyup.enter)="searchPlace()" [(ngModel)]="searchValue" />
            <button class="buttonSearch" (click)="searchPlace()"><span style="margin: auto;">{{ searchButtonText[languageService.language] }}</span></button><br>
            <!-- <a class="link-little" style="position: absolute; right:0; color: #1972B9;" routerLink="/user/user-home"> {{ seeCategoriesText[languageService.language] }}</a> -->
            <div style="margin: 20px 0; text-align: center;" class="listCategories">
              <mat-progress-bar mode="indeterminate" *ngIf="isSpinningCategories"></mat-progress-bar>
              <div style="display: inline-block;" *ngFor="let category of categories"><a (click)="searchCategory(category[languageService.language])">{{ category[languageService.language] }}</a></div>
            </div>
          </div>
        </div>
        <br>
        <div *ngIf="showError?.show" class="wrongGPS">
          {{showError?.message}}
        </div>
        <!-- <span>
          {{ texts[0][languageService.language] }}</span><br><br> -->
        <!-- <iframe class="divVideo" style="border:none; width: 100%; overflow: hidden;" scrolling="no" src="assets/images/conflux.gif"></iframe> -->
        <!-- <iframe  src="https://www.youtube.com/embed/A1I-TT1Mi0I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <!-- <span style="color:grey">{{ buttonsForm[0][languageService.language] }}</span>
        <br><br>
        <div class="divMobile">
          <a routerLink="/owner" class="link-boton-entrance"><div class="boton-entrance">
            <img style="width: 50%; height: auto; margin: auto;" src="assets/icons/owner_entrance.svg"/><br>
            <span style="margin: auto;">{{ IamOwnerText[languageService.language] }}</span>
          </div></a>
          <a routerLink="/user" class="link-boton-entrance"><div class="boton-entrance">
            <img style="width: 50%; height: auto; margin: auto;" src="assets/icons/user_entrance.svg"/><br>
            <span style="margin: auto;">{{ IamVisitorText[languageService.language] }}</span>
          </div></a>
        </div> -->
      </div>
    </div>
    <div class="col-sm-5 idDivImageCellphone">
      <img class="divApp" src="assets/images/imagenIphone.png" />
    </div>
    <br>
    <div style="text-align: center; width: 100%;">
      <div style="margin: 10px auto 30px auto; max-width: 400px; width: 80%;">
        <a routerLink="/user/user-qr">
          <div style="font-weight: bold; background-color: white; color: #2077BB; margin: 5px auto;text-align: center;font-size: 16px;">
            {{ ScanStoreText[languageService.language] }}
          </div>
        </a>
        <a routerLink="/user/user-qr">
          <div style="width: 100px; height: 100px; z-index:2; background-color: #2077BB; border-radius: 50%; border: 2px solid white; position:relative; margin:auto;">
              <div class="centrar" style="width: 100%; height: 100%; padding: 20px">
                <img src="assets/icons/codigo.svg" style="filter: brightness(0) invert(1); width: 100%; height: 100%;"/>
              </div>
          </div>
        </a>
      </div>
    </div>
    <!--<div style="padding: 10px;">
      <span style="color:grey">Nos unimos a la iniciativa de Gobierno Nacional, INNpulsa Colombia y Fedesoft para aportar de forma gratuita:</span>
      <br>
      <span style="color:grey">#EsAhoraColombia momento de unirnos porque #ColombiaEmprendeEinnova ¡Todos somos parte de la solución!</span>
    </div>-->
  </div>
</div>

<!-- divFeatures -->
<div style="background-color: #f8f8f8; color: black; padding: 10px; text-align: center; z-index: 2; position: relative;">
  <h1 style="padding-top: 40px; color:#979393">{{howWorks[languageService.language]}}</h1>
  <h3 style="padding-bottom: 40px; color:#979393">{{howWorks2[languageService.language]}}</h3>
  <iframe id="idVideoFeat" style="margin: auto; border:none;" src="https://www.youtube.com/embed/wWWRB9GbRLI"></iframe>
</div>

<!-- divAbout -->
<div class="container-fluid" style="background-color: #2077bb; color: white;">
  <div style="text-align: center;" id="IdAboutAppTitle">
    <h1 style="color:white">{{ registerStoreText[languageService.language] }}</h1>
    <br><br>
    <div style="max-width: 500px; margin: auto; width: 90%; text-align: left;">
      <span>
        {{ registerStoreTextp1[languageService.language] }}
      </span>
      <br><br>
      <span>
        {{ registerStoreTextp2[languageService.language] }}
      </span>
    </div>
  </div>
  <br><br>
  <div style="text-align: center;">
    <button id="IdOwnerSection" (click)="goToOwner()" class="" style="background-color: white; padding: 20px; border-radius: 10px; margin: 10px auto;">
      <div style="display: inline-flex; width: 20%;">
        <img style="width: 40px; height: 40px; margin: 0 30px 0 10px; filter: invert(32%) sepia(88%) saturate(945%) hue-rotate(177deg) brightness(98%) contrast(82%)" src="assets/icons/owner_entrance_black.svg"/>
      </div>
      <div style="display: inline-block; width: 70%;">
        <span style="margin: auto; color:black;">{{ OwnerManageText[languageService.language] }}</span>
      </div>
    </button>
  </div>
</div>

<!-- divFeatures -->
<div style="text-align: center;" id="IdFeaturesSection">
  <h1 style="padding-top: 40px; color:#2077BB; margin:auto;">{{moreFeaturesText[languageService.language]}}</h1>
  <br><br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6" *ngFor="let feature of features">
        <div style="text-align: center;">
        <div class="itemHomeFeat">
          <img style="width: 50%; height: auto; margin: auto;" [src]="'assets/icons/' + feature.image "/><br><br>
          <span style="margin: auto; font-weight: bold;">{{ feature.title[languageService.language] }}</span><br><br>
          <span style="margin: auto;">{{ feature.desc[languageService.language] }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- divTeam -->
<div class="container-fluid" id="IdTheTeam" style="background-color: #E8E8E8; color: black; ">
  <div class="row">
    <div class="centerDiv col-sm-6" style="text-align: left;">
      <div><div class="porc80">
        <h1 style="color: #2077BB; margin-bottom: 40px; font-weight: bold;">
          {{h1Headers[3][languageService.language]}}
        </h1>
        <br>
        <span style="color:#5C5757">
          {{aboutConfText[languageService.language]}}
        </span>
      </div></div>
    </div>
    <div class="centerDiv col-sm-6">
      <img class="divApp" id="idImgTeam" src="assets/images/computador.png" />
    </div>
  </div>
</div>
<!-- divAllies -->
<div style="text-align: center;">
  <h1 style="color:#979393; margin: 30px 0 20px 0;">
    {{ AllyTitleText[languageService.language] }}
  </h1>
  <br><br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3" *ngFor="let ally of allies" style="margin: auto; padding: 10px 5%;">
        <img [src]="'assets/icons/' + ally.image">
      </div>
    </div>
  </div>
  <div style="text-align: left; margin: 40px auto; width:80%; max-width: 800px;" *ngIf="languageService.language === 'es'">
    <span>
      {{ AllyTitleTextp1[languageService.language] }}
    </span><br><br>
    <span>
      {{ AllyTitleTextp2[languageService.language] }} <span style="color:#2077BB">CONFFLUX.COM</span> {{ AllyTitleTextp3[languageService.language] }} #EsAhoraColombia {{ AllyTitleTextp4[languageService.language] }}
      #ColombiaEmprendeEinnova
    </span><br>
    <span style="font-weight: bold;">
      {{ AllyTitleTextp5[languageService.language] }}
    </span>
  </div>
</div>

<!-- divContact -->
<div class="container-fluid" id="IdContactUs" style="background-color: #F8F8F8; color: black; text-align: center;">
  <h1>
    {{h1Headers[4][languageService.language]}}
  </h1><br><br>
  <div class="row">
    <div class="centerDiv col-sm-6">
      <div class="porc80">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc1XMhkgm4g8z6l_0wgsvIzImovzX7ncAS1P4NlVAE4USDwjQ/viewform" style="width: 100%; height: 900px; border:none;"></iframe>
      </div>
    </div>
    <div class="centerDiv col-sm-6">
      <div style="border-left: 2px solid black; text-align: left;">
        <div class="iconsLetters"><div><img src="assets/icons/location.svg"></div>Paris 75001</div>
        <div class="iconsLetters"><div><img src="assets/icons/call.svg"></div>+33 4562239856</div>
        <div class="iconsLetters"><div><img src="assets/icons/location.svg"></div>Bogotá 110111</div>
        <div class="iconsLetters"><div><img src="assets/icons/call.svg"></div>+57 3134789170</div>
        <div class="iconsLetters"><div><img src="assets/icons/linkedin.svg"></div>confflux</div>
        <div class="iconsLetters"><div><img src="assets/icons/ig.svg"></div>confflux</div>
        <div class="iconsLetters"><div><img src="assets/icons/fb.svg"></div>confflux</div>
      </div>
    </div>
  </div>
</div>
<!-- divFooter -->
<div style="background-color: #2077BB; width: 100%; height: 200px; text-align: center;">
  <img src="assets/icons/logoFooter.png" style="margin: 40px  auto;">
</div>
<!-- divButton -->
<div style="position: fixed; right: 5%; bottom: 5%; z-index:3">
  <a routerLink="/user/user-qr">
    <div style="background-color: white; border-radius: 5px; padding: 0 5px; color: #2077BB; margin: 5px 0;max-width: 90px;text-align: center;font-size: 12px; font-weight: bold;">
      {{ ScanStoreText[languageService.language] }}
    </div>
  </a>
  <a routerLink="/user/user-qr">
    <div style="width: 70px; height: 70px; background-color: #2077BB; border-radius: 50%; border: 2px solid white; position:relative; margin:auto;">
        <div class="centrar" style="width: 100%; height: 100%; padding: 12px">
          <img src="assets/icons/codigo.svg" style="filter: brightness(0) invert(1); width: 100%; height: 100%;"/>
        </div>
    </div>
  </a>
</div>