.buttonHeader{
    border: none;
    padding: 10px;
    margin: 0 5px;
    background-color: transparent;
    font-weight: bold;
    color: #D1D0D0;
    font-size: 12px;
    max-width: 150px;
    text-align: center;
}

.buttonHeader:hover{
    cursor: pointer;
}

.app-layout {
    background-color: transparent;
}

.centerDiv {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}

.buttonBody {
    background-color: #2077BB;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    border: none;
    padding: 10px 40px;
}

.iconsLetters div {
    display: inline;
    padding: 20px;
}

.iconsLetters img {
    height: 25px;
    width: 25px;
}

.iconsLetters {
    margin: 10px 0;
}

#IdAboutApp {
    padding: 30px 10px;
}


.imageLogoHome {
    width: 64px;
    height: 100px;
    margin-right: 10px;
 }

.buttonHeaderMobile {
    display: none;
}

@media (min-width: 800px) {
    .divVideo {
        height: 300px;
    }

    .idDivApp {
        padding-top: 100px;
    }

    #IdAboutApp {
        padding: 40px;
    }

    .porc60 {
        width: 60%;
    }

    #idVideoFeat {
        width:90%; 
        height: 80vh;
    }

    #IdAboutAppTitle {
        padding: 30px;
    }
    
    #IdContactUs{
        padding: 80px;
    }

    .porc80 {
        width: 80%;
    }

    #IdTheTeam{
        padding: 80px 0 80px 80px;
    }
  }
/* 
  .buttonsEntrance {
      min-height: 700px;
  } */

  .leftBranch {
      width: 80%;
  }

  .headerHome {
    padding: 20px;
  }

  .subTitle {
    color: #2077BB;
    margin:30px 0;
  }

@media (max-width: 455px) {
    .leftBranch {
        width: 100%;
    }
    
    .imageLogoHome {
        width: 50px;
        height: 78px;
        margin-right: 10px;
    }

    .headerHome {
        padding-bottom: 0px;
      }

    .leftBranch {
        top: 2%;
    }

    .titleMobile{
        font-size: 28px;
    }

    .hideMobile {
        display: none;
    }

    .subTitle {
        margin: 10px 0;
    }
}

/* @media (max-width: 350px) {
    .buttonsEntrance {
        min-height: 900px;
    }
} */
  

@media (max-width: 799px) {  
    .buttonHeader{
        width: min-content;
        font-size: 12px;
        padding: 5px;
    }

    .buttonHeaderDesktop {
        display: none;
    }

    .buttonHeaderMobile {
        display: inline-block;
    }

    .idDivImageCellphone {
        display: none;
    }

    .divMobile {
        display: block;
    }

    #IdAboutAppTitle, #IdContactUs{
        margin-bottom: 20px;
        padding: 10px;
    }

    #idVideoFeat {
        width:100%;
        height: 80vh;
    }

    #idImgTeam {
        display: none;
    }

    .porc60 {
        width: 100%;
        padding: 30px 10px;
    }

    #IdTheTeam{
        padding: 20px 0 20px 20px;
    }

    .porc80 {
        width: 100%;
        padding: 30px 10px;
    }
    .divMobile{
        width: 100%;
        justify-items: center;
     }
}
.leftBranch{
    text-align: left;
    margin:auto;
    position: relative;
    top:5%;
}


 .divVideo * {
     overflow: hidden !important;
 }

 .divMobile{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 350px;
 }
 .boton-entrance {
    position:relative;
    display: inline-block;
    width: 138px;
    height: 117px;
    color:#FFF;
    text-decoration:none;
    border-radius: 10px;
    border:none;
    background:#2077BB;
    text-align:center;
    padding: 20px;
    transition: all 0.01s;
    box-shadow: 0px 9px 0px #0564af;
    cursor: pointer;

 }

  .boton-entrance:hover{
    box-shadow: 0px 7px 0px #0564af;
    position:relative;
    transform: translateY(3px);
  }

 .link-boton-entrance, 
 .link-boton-entrance:visited, 
 .link-boton-entrance:hover, 
 .link-boton-entrance:active {
     color: white;
     text-decoration: none;
 }

 .wrongGPS {
    border: 1px solid #ff1a1a;
    padding: 10px;
    text-align: left;
    background-color: #ffb3b3;
    color:red;
    border-radius: 10px;
    width: max-content;
 }

 .listCategories a, .listCategories a:active, .listCategories a:hover, .listCategories a:visited {
     color: #2077BB;
     text-decoration: none;
     margin: 10px;
 }

 .itemHomeFeat {
     background-color: #F0F0F0;
     padding: 5%;
     margin: 20px auto;
     max-width: 300px;
     width: 90%;
     height: 300px;
 }