.box-store {
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 30px;
    box-shadow: 7px -1px 20px -6px rgba(148,130,148,1);
    width: 30%; 
    min-width: 300px;
    padding-bottom: 20px;
    min-height: 500px;
    background-color: white;
}

.box-store-Cellphone {
    width: 100%;
    padding-bottom: 20px;
    min-height: 500px;
    background-color: white;
}

.box-store-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.mapDesktop {
    width: 100%;
    height: 100%;
}

.mapCellphone {
    position: absolute;
    top:45px;
    left: 0;
    width: 100%;
    height: 100%;
}

.centrarResults{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width:80%;
    border-radius: 20px;
    padding: 10px;
    max-width:500px;
    height: 80vh;
    background-color: white;
    box-shadow: 7px -1px 20px -6px rgba(148,130,148,1);
    overflow:auto;
    z-index:10;
}