  <div style="background: linear-gradient(90deg, #004680 0%, #4484BA 100%); padding:30px 5%; margin-top: 42px;">
    <a (click)="goBack()"><img src="assets/icons/back.png" style="width: 20px; height: auto; margin-right: 10px; filter: brightness(0) invert(1);"/></a>
    <img src="assets/icons/old_logo.png" style="display: inline-block; width: 10%; padding-right: 5%;"/>
    <a (click)="showResults = !showResults" style="position: relative;"><span style="color:white">{{store?.name}}</span><mat-icon style="color:white; position: absolute; top:0" aria-hidden="false">keyboard_arrow_down</mat-icon></a>
  </div>
<div style="position: relative;">
  <div>
    <div id="map2" class="map2" style="width: 100% !important;height: 100% !important;"></div>
  </div>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-JKTMPB5SH6"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'G-JKTMPB5SH6');
  </script>
  <div [ngClass]="{'box-store': desktop === 'true', 'box-store-Cellphone': desktop === 'false' }">
    <div *ngIf="showTurn === 'initial'">
      <!-- <div class="box-store-img" *ngIf="store?.establishment_pics_url[1]">
        <img style="width: 100%; height: 100%; border-top-left-radius: 30px; border-top-right-radius: 30px;" [src]="store?.establishment_pics_url[1]" />
      </div> -->
      <div style="text-align: center; margin-top: 15px;" *ngIf="store?.establishment_pics_url[1]">
        <img style="max-width: 300px; width: 90%; max-height: 100px; margin:auto" [src]="store?.establishment_pics_url[1]" />
      </div>
      <div style="margin: 10px; padding:30px">
        <mat-progress-bar mode="indeterminate"*ngIf="isSpinningStore"></mat-progress-bar>
        <p>{{NameText[languageService.language]}}: {{store?.name}}</p>
        <p>{{AddressText[languageService.language]}}: {{store?.location.stateCode}} &#8226; {{store?.location.distance_to_origin | number:'1.0-2'}} {{store?.location.units}}</p>
        <p>{{PhoneText[languageService.language]}}: {{store?.phone}}</p>
        <p>{{OpenText[languageService.language]}}: {{checkHours(store?.opening_hours)}} &#8226; {{checkDays(store?.opening_hours.day)}}</p>
        <div [ngStyle]="{'background-color':getColorPercentage(store?.percentage)}" style="padding: 6px; border-radius: 5px; width: max-content; margin: 10px;">
          <span [ngStyle]="{'color':getColorPercentageStar(store?.percentage)}"><img src="assets/icons/population.svg" [ngStyle]="{'filter':getColorPercentageFilter(store?.percentage)}" style="margin-right: 5px;"> {{store?.percentage}} %</span>
        </div>
        <button class="button-continue" (click)="reserve()" [hidden]="!store?.enableShifting || false" [disabled]="!store?.enableShifting || false">{{ logged ? ReserveShiftText[languageService.language] : LoginText[languageService.language]}}</button>
      </div>
    </div>
    <div *ngIf="showTurn === 'options'">
      <div style="margin: 10px; text-align: center;">
        <h2>{{ReserveText[languageService.language]}}</h2>
        <br>
        <br>
        <form [formGroup]="validateForm" (ngSubmit)="initialSubmitForm()">
          <mat-form-field>
            <mat-label>{{DateText[languageService.language]}}</mat-label>
            <input matInput type="date" formControlName="dateTurn" (ngModelChange)="checkShifts($event)" [min]="minDate" [max]="maxDate">
          </mat-form-field>
          <div style="color: red; font-size:12px;" *ngIf="validateForm.controls.dateTurn.errors?.incorrect">{{DatePreviousText[languageService.language]}}</div>
          <div style="color: red; font-size:12px;" *ngIf="validateForm.controls.dateTurn.errors?.maxAllowed">{{DateFutureErrText[languageService.language]}}</div>
          <div style="color: red; font-size:12px;" *ngIf="validateForm.controls.dateTurn.errors?.noShifts">{{NoShiftsErrText[languageService.language]}}</div>
          <br>
          <mat-form-field>
            <mat-label>{{ShiftText[languageService.language]}}</mat-label>
            <mat-select formControlName="shiftTurn">
              <mat-option *ngFor="let shift of shifts; let i of index" [value]="i">
                {{shift.hours}}
              </mat-option>
            </mat-select>
            <div *ngIf="isSpinningStores">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>{{ ObservationsText[languageService.language] }}</mat-label>
            <textarea matInput formControlName="observationsTurn"></textarea>  
          </mat-form-field>
          <br>
          <br>
          <button type="button" class="button-cancel" (click)="cancel()">{{ CancelText[languageService.language] }}</button>
          <button type="submit" class="button-continue" [disabled]="!validateForm.valid">{{ ConfirmText[languageService.language] }}</button>
        </form>
      </div>
    </div>
    <div *ngIf="showTurn === 'summary'">
      <div style="margin: 10px; text-align: center;">
        <h2>{{SummaryText[languageService.language]}}</h2>
        <mat-label>{{EstablishmentText[languageService.language]}}</mat-label><br>
        <mat-label>{{store.name}}</mat-label><br>
        <br>
        <mat-label>{{DateText[languageService.language]}}</mat-label><br>
        <mat-label>{{finalDate}}</mat-label><br>
        <br>
        <mat-label>{{ShiftText[languageService.language]}}</mat-label><br>
        <mat-label>{{finalShift.hours}}</mat-label><br>
        <br>
        <mat-label *ngIf="finalComment!==''">{{ ObservationsText[languageService.language] }}</mat-label><br>
        <mat-label>{{finalComment}}</mat-label><br>
        <br>
        <button class="button-cancel" (click)="cancel()">{{ CancelText[languageService.language] }}</button>
        <button class="button-cancel" (click)="reserve()">{{ EditText[languageService.language] }}</button>
        <button class="button-continue" (click)="SubmitForm()">{{ ConfirmText[languageService.language] }}</button>
      </div>
    </div>
    <div *ngIf="showTurn === 'checked'">
      <div class="centrar" style="margin: 10px; text-align: center;">
        <img src="assets/icons/check.svg" style="margin: auto; width: 50px; height: auto;" /><br>
        <div style="color: #39DA00; font-size: 24px;">{{ShiftConfirmedText[languageService.language]}}: {{shiftCode}}</div>
        <br><br>
        <div style="width: 300px;">
        <button class="button-continue" (click)="goHome()">{{ HomeText[languageService.language] }}</button>
        <button class="button-continue" (click)="goTurns()">{{ CheckTurnsText[languageService.language] }}</button>
        </div>
      </div>
    </div>
    <div *ngIf="showTurn === 'notChecked'">
      <div class="centrar" style="margin: 10px; text-align: center;">
        <img src="assets/icons/nocheck.svg" style="margin: auto; width: 50px; height: auto;" /><br>
        <div style="color: red; font-size: 24px;">{{ ProblemShiftText[languageService.language] }}</div>
        <br><br>
        <button class="button-cancel" (click)="goHome()">{{ HomeText[languageService.language] }}</button>
        <button class="button-continue" (click)="cancel()">{{ GobackText[languageService.language] }}</button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showResults && results.length > 1" class="centrarResults">
  <div style="min-height: 20px; display:inline-flex;">
    <a class="link-order" style="position: relative; float: right;" (click)="orderByOccupation();"><span style="margin-right:5px;"><img src="assets/icons/order.svg" />{{LessOccupationText[languageService.language]}}</span></a>
    <a class="link-order" style="position: relative; float: right;" (click)="orderByLocation();"><span style="margin-right:5px;"><img src="assets/icons/order.svg" />{{NearMeText[languageService.language]}}</span></a>
    <a class="link-order" style="position: relative; float: right;" (click)="showResults = !showResults"><span style="margin-right:5px;"><img style="width:15px; height: 15px;" src="assets/icons/nocheck.svg" /><span style="color: red;">{{ CloseText[languageService.language] }}</span></span></a>
  </div>
  <div *ngFor="let store of results" style="margin: 20px auto; max-width: 500px;">
    <mat-card style="padding: 0;">
      <a (click)="loadStore(store._id)">
        <div style="width: 100%; min-height: 120px; padding: 16px; border-left: 2px solid #2077BB; border-right: 2px solid #2077BB;">
        <div style="display: inline-block; width: 70%;">
          <span style="color: #C2C2C2;">{{store.name}}</span><br>
          <span style="color: #C2C2C2;">{{store.location.stateCode}} &#8226; {{store.location.distance_to_origin | number:'1.0-2'}} {{store.location.units}}</span><br>
          <span>{{checkDay(store.opening_hours.day)}} &#8226; {{checkHours(store?.opening_hours)}}</span><br>
        </div>
        <div style="display: inline-flex; width: 20%; max-height: 60px;">
          <img style="width: 100%;" [src]="store?.establishment_pics_url[1]">
        </div>
        <div style="max-width: 100px; position: absolute; top: 5px;right: 5px;">
          <div [ngStyle]="{'background-color':getColorPercentage(store.percentage)}" style="padding: 6px; border-radius: 5px;">
            <span [ngStyle]="{'color':getColorPercentageStar(store.percentage)}"><img src="assets/icons/population.svg" [ngStyle]="{'filter':getColorPercentageFilter(store.percentage)}" style="margin-right: 5px;"> {{store.percentage}} %</span>
          </div>
        </div>
        </div>
      </a>
    </mat-card>
  </div>
</div>
