<mat-drawer-container class="window-container" autosize>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JKTMPB5SH6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-JKTMPB5SH6');
</script>
    <mat-drawer class="sider-container" #drawer mode="side" [opened]="opened" style="max-width: 85%;">
      <a routerLink="/home/en">
        <div class="sidebar-logo">
          <img width="64" height="80" src="assets/icons/old_logo.png" />
          <!-- <img width="64" height="100" src="assets/icons/logo.png" /> -->
        </div>
      </a>
      <mat-nav-list style="margin-top: 30px;">
        <a
          mat-list-item
          class="link-menu"
          routerLink="/owner/manage-stores"
          [routerLinkActive]="['is-active']"
          (click)="closeDrawer()"
        >
          <img
            class="icon-menu"
            width="32"
            height="32"
            src="assets/icons/store.svg"
          />
          {{ ManageStoresText[languageService.language] }}
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a
          mat-list-item
          class="link-menu"
          routerLink="/owner/qr-code"
          [routerLinkActive]="['is-active']"
          (click)="closeDrawer()"
        >
          <img
            class="icon-menu"
            width="32"
            height="32"
            src="assets/icons/codigo.svg"
          />{{ QrCode[languageService.language] }}
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a
          mat-list-item
          class="link-menu"
          routerLink="/owner/profile"
          [routerLinkActive]="['is-active']"
          (click)="closeDrawer()"
        >
          <img
            class="icon-menu"
            width="32"
            height="32"
            src="assets/icons/key.svg"
          />{{ ChangePassword[languageService.language] }}
        </a>
      </mat-nav-list><br><br>
      <!-- <mat-nav-list>
        <a
          mat-list-item
          class="link-menu"
          routerLink="/user"
          [routerLinkActive]="['is-active']"
        >
          <img
            class="icon-menu"
            width="32"
            height="32"
            src="assets/icons/store.svg"
          />I am an User
        </a>
      </mat-nav-list> -->
    </mat-drawer>
    <mat-drawer-content style="background-color: white; min-width: 200px; position:relative">
      <div style="position: -webkit-sticky; position: sticky; top: 0; z-index: 10;">
        <div class="header-blue-container" style="position: absolute;">
          <button mat-icon-button (click)="changeDrawer();" class="btn-menu">
            <mat-icon>menu</mat-icon>
          </button>
          <div style="display: inline-block; width:100px;" class="LanguagePos" *ngIf="displayDivClose">
            <mat-select [(ngModel)]="languageService.language" class="matHeader">
              <mat-option class="buttonHeader2" value="en" selected>English</mat-option>
              <mat-option class="buttonHeader2" value="es">Español</mat-option>
              <mat-option class="buttonHeader2" value="fr">Français</mat-option>
            </mat-select>
          </div>
          <button mat-flat-button (click)="logOut()" class="btn-logout">Log out</button>
        </div>
      </div>
      <router-outlet></router-outlet>
      <div (click)="closeDrawer()" style="z-index:20; position: fixed; top:0; left:0; width:100%; height: 100%;" [hidden]="displayDivClose"></div>
    </mat-drawer-content>
  </mat-drawer-container>
