<div style="margin: 60px 2% 30px 2%">
    <h2>{{QrCodeText[languageService.language]}}</h2>
    <mat-form-field>
    <mat-label for="store">{{ChooseStoreText[languageService.language]}}</mat-label>
        <mat-select id="store" [(ngModel)]="storeId" aria-placeholder="Choose" (ngModelChange)="changeStore()">
        <mat-option *ngFor="let store of dataSet" [value]="store._id">
          {{store.name}}
        </mat-option>
      </mat-select>
      <div *ngIf="isSpinningStores">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
    </mat-form-field>
    <img style="display: none;" #imgSource [src]='addressImage + addressesImages[this.languageService.language]' />
    <div style="text-align: center;">
      <div style="width: 100%; overflow-x: auto; padding: 10px;">
        <div *ngIf="showCode">
            <qrcode #qrcode [qrdata]="codeString" [width]="312" [errorCorrectionLevel]="'M'"></qrcode>
        </div>
      </div>
        <button *ngIf="storeId" mat-raised-button style="margin: 10px;" (click)="genQrCode();">
          <div *ngIf="isSpinning">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>
          {{GenerateText[languageService.language]}}
        </button>
        <button mat-raised-button *ngIf="showCode" (click)="DownloadQrCode();" style="margin: 10px;">
          {{DownloadText[languageService.language]}}
        </button>
    </div>
</div>