<div style="margin: 60px 2% 150px 2%">
    <div style="text-align: center;">
      <form class="example-form" [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <h2>Change Password</h2>
        <mat-form-field class="example-full-width">
          <mat-label>New Password</mat-label>
          <mat-icon matPrefix>vpn_key</mat-icon>
          <input matInput type="password" formControlName="password" placeholder="New Password" />
          <mat-error *ngIf="!validateForm.controls.password.valid">{{validateForm.controls.password.errors?.invalidOption?.message || 'Minimo 8 caracteres'}}</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <mat-label>Confirm Password</mat-label>
          <mat-icon matPrefix>vpn_key</mat-icon>
          <input matInput type="password" formControlName="password2" placeholder="Confirm Password" />
        </mat-form-field>
        <br>
        <button mat-raised-button [disabled]="!validateForm.valid">
          <div *ngIf="isSpinningSave">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>
          Change
        </button>
      </form>
    </div>
  </div>
