<table style="width:100%; height:100%">
  <tr>
    <td class="colRight colRightDiv">
      <div style="padding: 40px; text-align: center; color:white;">
        <span style="font-size: 30px;">{{WellcomeToConfluxText[languageService.language]}}</span><br><br>
        <span style="font-size: 15px;">{{JoinConfluxText[languageService.language]}}</span>
      </div>
    </td>
    <td class="colLeft">
      <div class="wrap">
        <div style="position: absolute; top:20px; right: 20px;">
          <select [(ngModel)]="languageService.language" class="selectIdiom">
            <option class="buttonHeader2" value="en" selected>English</option>
            <option class="buttonHeader2" value="es">Español</option>
            <option class="buttonHeader2" value="fr">Français</option>
          </select>
        </div>
      </div>
      <div style="text-align: center;">

        <div class="container-center-logo">
          <img src="assets/icons/logo.png" />
        </div>

        <form class="signin-owner-form" [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <h2>{{UserLogin[languageService.language]}}</h2>

          <mat-form-field class="example-full-width">
            <mat-label>{{EmailText[languageService.language]}}</mat-label>
            <!-- <mat-icon matPrefix>alternate_email</mat-icon> -->
            <input matInput type="email" formControlName="email" placeholder="Email" />
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
            <mat-label>{{PasswordText[languageService.language]}}</mat-label>
            <!-- <mat-icon matPrefix>vpn_key</mat-icon> -->
            <input matInput type="password" formControlName="password" placeholder="Password" />
          </mat-form-field>

          <div class="container-forgot-password">
            <a routerLink="/forgot/user">{{ForgotPasswordText[languageService.language]}}</a>
          </div>

          <br>

          <div class="container-social-media">
            <p>{{socialWayText[languageService.language]}}</p>

            <!-- <button mat-raised-button (click)="AuthFacebook()" type="button">
              <img
                class="icon-menu-auth"
                width="32"
                height="32"
                src="assets/icons/facebookAuth.png"
              />
            </button> -->
            <button mat-raised-button (click)="AuthGoogle()" type="button">
              <img
                class="icon-menu-auth"
                width="32"
                height="32"
                src="assets/icons/googleAuth.png"
              />
            </button>
          </div>
          <br><br>
          <div class="container-remember">
            <mat-checkbox formControlName="remember">{{RemembermeText[languageService.language]}}</mat-checkbox>
          </div>
          
          <div class="container-validate-form">

            <button class="validate-signin" mat-raised-button [disabled]="!validateForm.valid">
              <div *ngIf="isSpinningLogin">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </div>
              {{SigninText[languageService.language]}}
            </button>

            <br>
            
            <div class="container-go-to-register">
              <p>{{NotAccountText[languageService.language]}}</p>
              <a routerLink="/user-register">{{RegisterText[languageService.language]}}</a>
            </div>
          </div>
        </form>
        <br><br>
      </div>
    </td>
  </tr>
</table>