:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  height: 100%;
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
}

.header-trigger {
  height: 64px;
  padding: 20px 24px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s, padding 0s;
}

.trigger:hover {
  color: #1890ff;
}

.sidebar-logo {
  height: 200px;
  width: 300px;
  background: url("../../assets/icons/fondoLogo.jpg") bottom center no-repeat;
  background-size: cover;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.app-header {
  position: relative;
  height: 32px;
  padding: 0;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
}

.inner-content {
  padding: 24px;
  background: #fff;
  height: 100%;
}

.menu-sidebar.ant-layout-sider-collapsed {
  flex: 0 0 0px !important;
  max-width: 0px !important;
  min-width: 0px !important;
  width: 0px !important;
  overflow: hidden;
}

.sidebar-logo {
  padding-left: 10px;
}

mat-nav-list a:hover,
mat-nav-list a:active {
  background-color: #cceeff;
  text-decoration: none;
}

mat-nav-list a:active {
  color: white;
}

.is-active {
  background-color: #2077bb !important;
  color: white;
}

.is-active:hover {
  color: white !important;
}

.is-active img {
  filter: brightness(0) invert(1);
}

.link-little {
  color: #1972b9;
  font-size: 14px;
}

.matHeader ::ng-deep .mat-select-value, .matHeader ::ng-deep .mat-select-arrow {
  color: white;
}