<mat-drawer-container class="window-container" autosize>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JKTMPB5SH6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-JKTMPB5SH6');
</script>
  <mat-drawer class="sider-container" mode="side" [opened]="opened" style="max-width: 85%;">
    <a routerLink="/home/en">
      <div class="sidebar-logo">
        <img width="64" height="80" src="assets/icons/old_logo.png" />
        <!-- <img width="64" height="100" src="assets/icons/logo.png" /> -->
      </div>
    </a>
    <mat-nav-list style="margin-top: 30px;">
      <a
        mat-list-item
        class="link-menu"
        routerLink="/user/user-home"
        [routerLinkActive]="['is-active']"
        (click)="closeDrawer(); enableFloatingQR('true')"
      >
        <img
          class="icon-menu"
          width="32"
          height="32"
          src="assets/icons/lupa.svg"
        />{{ Home[languageService.language] }}
      </a>
    </mat-nav-list>
    <mat-nav-list>
      <a
        mat-list-item
        class="link-menu"
        routerLink="/user/user-location"
        [routerLinkActive]="['is-active']"
        (click)="closeDrawer(); enableFloatingQR('true')"
      >
        <img
          class="icon-menu"
          width="32"
          height="32"
          src="assets/icons/mundo.svg"
        />{{ LocateMe[languageService.language] }}
      </a>
    </mat-nav-list>
    <div *ngIf="showMenu">
    <mat-nav-list>
      <a
        mat-list-item
        class="link-menu"
        routerLink="/user/user-qr"
        [routerLinkActive]="['is-active']"
        (click)="closeDrawer(); enableFloatingQR('false')"
      >
        <img
          class="icon-menu"
          width="32"
          height="32"
          src="assets/icons/codigo.svg"
        />
        {{ QrScan[languageService.language] }}
      </a>
    </mat-nav-list>
    <mat-nav-list>
      <a
        mat-list-item
        class="link-menu"
        routerLink="/user/user-turns"
        [routerLinkActive]="['is-active']"
        (click)="closeDrawer();  enableFloatingQR('true')"
      >
        <img
          class="icon-menu"
          width="32"
          height="32"
          src="assets/icons/libreta.svg"
          (click)="closeDrawer()"
        />{{ MyTurns[languageService.language] }}
      </a>
    </mat-nav-list>
    <mat-nav-list>
      <a
        mat-list-item
        class="link-menu"
        routerLink="/user/profile"
        [routerLinkActive]="['is-active']"
        (click)="closeDrawer(); enableFloatingQR('true')"
      >
        <img
          class="icon-menu"
          width="32"
          height="32"
          src="assets/icons/key.svg"
        />{{ ChangePassword[languageService.language] }}
      </a>
    </mat-nav-list>
    </div>
    <!-- <br><br>
    <mat-nav-list>
      <a
        mat-list-item
        class="link-menu"
        routerLink="/owner"
        [routerLinkActive]="['is-active']"
      >
        <img
          class="icon-menu"
          width="32"
          height="32"
          src="assets/icons/store.svg"
        />I am an Owner
      </a>
    </mat-nav-list> -->
  </mat-drawer>
  <mat-drawer-content style="background-color: white; min-width: 200px;">
    <div style="position: -webkit-sticky; position: sticky; top: 0; z-index: 10;">
      <div class="header-blue-container">
        <button mat-icon-button (click)="changeDrawer();" class="btn-menu">
          <mat-icon>menu</mat-icon>
        </button>
        <div style="display: inline-block; width:100px;" class="LanguagePos" *ngIf="displayDivClose">
          <mat-select [(ngModel)]="languageService.language" class="matHeader">
            <mat-option class="buttonHeader2" value="en" selected>English</mat-option>
            <mat-option class="buttonHeader2" value="es">Español</mat-option>
            <mat-option class="buttonHeader2" value="fr">Français</mat-option>
          </mat-select>
        </div>
        <button mat-flat-button *ngIf="showMenu" (click)="logOut()" class="btn-logout">Log out</button>
        <button mat-flat-button *ngIf="!showMenu" (click)="logIn()" class="btn-login" >Log In</button>
      </div>
    </div>
    <router-outlet></router-outlet>
    <div (click)="closeDrawer()" style="z-index:20; position: fixed; top:0; left:0; width:100%; height: 100%;" [hidden]="displayDivClose"></div>
  </mat-drawer-content>
</mat-drawer-container>
<div *ngIf="showFloatingQR" style="position: fixed; right: 5%; bottom: 5%; width: 70px; height: 70px; z-index:2; background-color: #2077BB; border-radius: 50%; border: 2px solid white">
  <a routerLink="/user/user-qr"
  (click)="closeDrawer(); enableFloatingQR('false');"
    ><div class="centrar" style="width: 100%; height: 100%; padding: 12px">
      <img src="assets/icons/codigo.svg" style="filter: brightness(0) invert(1); width: 100%; height: 100%;"/></div
  ></a>
</div>
