<table style="width:100%; height:100%">
    <tr>
      <td class="colRight colRightDiv">
        <div style="padding: 40px; text-align: center; color:white;">
          <span style="font-size: 30px;">{{WellcomeToConfluxText[languageService.language]}}</span><br><br>
          <span style="font-size: 15px;">{{JoinConfluxText[languageService.language]}}</span>
        </div>
      </td>
      <td class="colLeft">
        <div class="wrap" style="position: relative;">
            <div class="centrar">
                <mat-spinner></mat-spinner>
                <br>
                <span style="font-weight: bold; font-size: 20px;">Loading</span> 
            </div>
        </div>
      </td>
    </tr>
  </table>