/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html {
  font-family: Roboto;
  font-style: normal;
}

.logout {
    float: right;
    width: 100px;
  }

  .login-form {
    max-width: 300px;
    margin: 0 auto;
    position: relative;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }

  .collapse {
    margin: 0 8px 8px 8px;
    font-size: 12px;
  }

  .ant-advanced-search-form-int {
    padding: 10px;
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    margin: 10px 0;
  }

  .ant-form-item {
    margin-bottom: 0;
  }
html, body { 
  height: 100%;
  overflow-x: hidden;
}
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.window-container {
  width: 100vw;
  height: 100vh;
  border: none;
}

.sider-container {
  width: 300px;
  height: 100vh;
  box-shadow: 7px -1px 20px -6px rgba(148,130,148,1);
}

.icon-menu {
  padding-right: 10px;
}

.link-menu {
  padding-left: 20px;
  font-weight: bold;
  font-size: 16px;
}

.ant-menu-item-selected > img{
  filter: brightness(0) invert(1);
}

.ant-menu-item-selected > a{
  color: white !important;
}

.ant-menu-item-selected {
  background: #2077BB !important;
}

.button-continue {
  border: 1px solid #2077BB;
  border-radius: 30px;
  background-color: transparent;
  color: #2077BB;
  margin: 5px 10px;
}

.button-continue:disabled {
  border-color: #d1d0d0;
  color: #d1d0d0;
}

.button-cancel {
  border: none;
  background-color: transparent;
  color: #d1d0d0;
  margin: 5px 10px;
}

.centrar {
  padding: 5px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.container-paginator {
  display: flex;
  align-items: flex-end;
}

.page-select {
  display: flex;
  align-items: center;
  font-size: 12px;

  .label {
    margin: 0 4px;
  }
}

.container-searchbar{
  width:95%; 
  position:relative; 
  display: block; 
  margin: 20px auto;
  min-width: 200px;
}


.inputSearch {
  background-repeat: no-repeat;
  background-position: 10px;
  padding: 10px 10px 10px 40px;
  border: 1px solid #2077BB;
  border-radius: 20px;
  width: 80%;
  min-width: 100px;
  display: block;
}

.inputSearchButton {
  background-repeat: no-repeat;
  background-position: 10px;
  padding: 10px 10px 10px 40px;
  border: 1px solid #2077BB;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 70%;
  min-width: 95px;
  display: inline-flex;
}

.buttonSearch {
  width: 20%;
  min-width: 50px;
  display: inline-flex;
  padding: 10px 0;
  border: 1px solid #2077BB;
  background-color: #2077BB;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: white;
  text-align: center;
}

td {
  padding: 0 5px !important;
}

.icon-menu-auth{
  margin-right: 10px;
  padding: 5px;
}

.header-blue-container {
  width: 100%;
  height: 45px;
  position: absolute;
  background-color: #2077bb;
  z-index: 10000;
  padding: 10px;
}

.btn-menu{
  position: absolute !important;
  top:0px; 
  left:5px; 
  color: white;
  outline: none;
}

.btn-logout,
.btn-login{
  position: absolute !important; 
  top:5px; 
  right:5px; 
  margin: 5px 10px;
}

.LanguagePos {
  position: absolute !important; 
  top:5px; 
  right: 90px; 
  margin: 5px 10px;
}

.buttonHeader2 {
  padding: 0;
  margin: 3px;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  color: #000c17;
  font-size: 10px;
  border: none;
  background-color: transparent;
  font-weight: 700;
}

.colRight {
  height: 100%;
  padding: 0 !important;
}

.colLeft {
  width: 50%;
}

@media (max-width: 700px) {
  .colRight {
      display: none;
  }
}

.colRightDiv {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('assets/images/imagenFondoPortada.jpg');
  height: 100%;
}

.selectIdiom {
  font: 400 12px/1.3 sans-serif;
  border: 0;
  border-bottom: 1px solid black;
  -webkit-appearance: none;
  appearance: none;
  background-image: linear-gradient(white, white),
    linear-gradient(-135deg, transparent 50%, white 50%),
    linear-gradient(-225deg, transparent 50%, white 50%),
    linear-gradient(white 42%, black 42%);
  color: black;
  line-height: 1;
  outline: 0;
  padding: 5px 20px 10px 0;
  border-radius: 0;
  background-color: transparent;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 1px 100%, 20px 22px, 20px 22px, 20px 100%;
  background-position: right 20px center, right bottom, right bottom, right bottom; 
}

.emailVerification{
  border: 1px solid #00b300;
  padding: 10px;
  margin: 20px auto;
  background-color: #b3ffb3;
  color:green;
  border-radius: 10px;
  width: max-content;
}

.link-little {
  color: #1972B9;
  font-size: 14px;
}

.buttonSimple {
  border: none;
  background-color: white;
}