<table style="width:100%; height:100%">
  <tr>
    <td class="colRight colRightDiv">
      <div style="padding: 40px; text-align: center; color:white;">
        <span style="font-size: 30px;">{{WellcomeToConfluxText[languageService.language]}}</span><br><br>
        <span style="font-size: 15px;">{{JoinConfluxText[languageService.language]}}</span>
      </div>
    </td>
    <td class="colLeft">
      <div class="wrap">
        <div style="position: absolute; top:20px; right: 20px;">
          <select [(ngModel)]="languageService.language" class="selectIdiom">
            <option class="buttonHeader2" value="en" selected>English</option>
            <option class="buttonHeader2" value="es">Español</option>
            <option class="buttonHeader2" value="fr">Français</option>
          </select>
        </div>
      </div>
      <div style="text-align: center;">
        <h2>{{OwnerRegisterText[languageService.language]}}</h2>
        <div *ngIf="showMessage?.show" class="emailVerification">
        {{showMessage?.message}}
        </div>
        <form class="example-form" [formGroup]="validateForm" (ngSubmit)="submitForm()">
          <mat-form-field class="example-full-width">
            <mat-label>{{EmailText[languageService.language]}}</mat-label>
            <!-- <mat-icon matPrefix>alternate_email</mat-icon> -->
            <input matInput type="email" formControlName="email" placeholder="Email" />
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
            <mat-label>{{PasswordText[languageService.language]}}</mat-label>
            <!-- <mat-icon matPrefix>vpn_key</mat-icon> -->
            <input matInput type="password" formControlName="password" placeholder="Password" />
            <mat-error *ngIf="!validateForm.controls.password.valid">{{validateForm.controls.password.errors?.invalidOption?.message || 'Minimo 8 caracteres'}}</mat-error>
          </mat-form-field>
          <br>
          <button mat-raised-button [disabled]="!validateForm.valid">
            <div *ngIf="isSpinningRegister">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
            {{RegisterText[languageService.language]}}
          </button><br><br>
          {{OrText[languageService.language]}}
            <a routerLink="/owner-auth">{{IHaveText[languageService.language]}}</a>
        </form>
      </div>
    </td>
  </tr>
</table>